.intro
{
    padding: 10% 0px 0px 0px;
    margin: auto;
    width: 80%;
}

.header
{
     margin-bottom: 50px; 
}

.header__image
{
    width: 330px;
    height: 350px;
    overflow: hidden;
    float: left;
    margin-right: 60px;
    margin-bottom: 20px;
}

.header__image_photo
{
    position: relative;
    top: -63px;
    left: -174px;
}

.quote
{
    /* display: block; */
    padding: 50px 0px 0px 50px;
}

.quote__text
{
     margin: -50px 0px 0px 400px;
}

.quote_image
{
    height: 88px;
}

.quote__text__citation
{
    color: #848484;
    font-size: 28px;
    line-height: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.quote__text__author
{
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-weight: 600;
    font-family: "Open Sans";
    margin: -26px 0px 0px 6px
}

.clear
{
    clear: both;
}

.favorites
{
    clear: both;
    float: left;
    margin-right: 0px;
}

.favorites__authors_header
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: bold;
    font-family: "Open Sans";
}

.favorites__films_header
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: bold;
    font-family: "Open Sans";
    letter-spacing: 0px;
    margin: 42px 0px 0px 0px
}

.favorites__authors_list
{
    padding: 0px 0px 0px 22px;
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
    margin: -12px 0px 0px 0px;
}

.favorites__films_list
{
    padding: 0px 0px 0px 20px;
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
    margin: -12px 0px 0px 0px;
}

.about_header
{
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
    margin: 25px 0px 0px -8px;
}

.line
{
    width: 56px;
    height: 5px;
    border-radius: 3px;
    background-color: #45c3aa;
    display: inline-block;
    margin: 32px 0px 0px -10px
}

.about
{
     margin: 0px 0px 0px 400px;
}

 .about_text
{
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    margin: 40px 0px 0px -10px;
} 

.about_hobby
{
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    margin: 16px 0px 41px -10px;
}

.about_hobbyHeader
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
    margin: 42px 0px 0px -13px;
}

.about_link
{
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia"; 
    margin: 0px 0px 0px -12px;
}
