.p-without-end-margin
{
    margin-block-end: 0px;
}

.p-without-start-margin
{
    margin-block-start: 0px;
}

.intro
{
    padding: 10% 3px 0px 0px;
    margin: auto;
    width: 80%;
}

.header
{
     margin-bottom: 50px; 
}

.header__image
{
    width: 330px;
    height: 350px;
    overflow: hidden;
    float: left;
    margin-right: 60px;
    margin-bottom: 22px;
}

.header__image_photo
{
    position: relative;
    top: -63px;
    left: -174px;
}

.quote
{
    /* display: block; */
    /* padding: 50px 0px 0px 50px; */
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: 389px 51px;
}

.quote_image
{
    /* height: 88px; */
    padding: 0px 0px 0px 0px;
}

.quote__text
{
     margin: 0px 0px 0px 448px;
     padding: 92px 0px 0px 2px;
}

.quote__text__citation
{
    color: #848484;
    font-size: 28px;
    line-height: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.quote__text__author
{
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-weight: 600;
    font-family: "Open Sans";
    margin: 2px 0px 0px 7px;
    padding: 0px 0px 0px 0px;
}

.clear
{
    clear: both;
}

.favorites
{
    clear: both;
    float: left;
    margin-right: 0px;
}

.favorites__authors
{
    margin: 0px 0px 0px 0px;
}

.favorites__authors_header
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans";
    margin: 0px 0px 0px 0px;
    letter-spacing: 0px;
}

.favorites__films_header
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans";
    letter-spacing: 0px;
    margin: 42px 0px 0px 0px;
}

.favorites__authors_list
{
    padding: 0px 0px 0px 22px;
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
    margin: 13px 0px 0px 0px;
}

.favorites__films_list
{
    padding: 0px 0px 0px 20px;
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
    margin: 11px 0px 0px 0px;
}

.about_header
{
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
    margin: 23px 0px 0px 4px;
}

.line
{
    width: 58px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
    display: inline-block;
    margin: 32px 0px 0px 0px
}

.about
{
     margin: 0px 0px 0px 390px;
}

 .about_text
{
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
} 

.about_hobby
{
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    margin: 16px 0px 41px 0px;
}

.about_hobbyHeader
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
    margin: 41px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.about_link
{
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia"; 
    margin: 0px 0px 0px 0px;
}
